torch==2.3.0
torchvision==0.18.0
tqdm
monai
numpy==1.26.0
einops
timm
imagecodecs
scikit-image
setuptools
tensorboard
matplotlib
nibabel
pydicom 
tifffile
transformers 
pyyaml
tensorboard
opencv-python
tqdm